{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {% if isEdit %}
        Editar Movimiento
    {% else %}
        Nuevo Movimiento
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center mb-3">
            {% if isEdit %}
                Editar Movimiento
            {% else %}
                Nuevo Movimiento
            {% endif %}
        </h1>

        {{ form_start(form, { 'attr': { 'class': 'p-4 p-md-5 border rounded-3 bg-body-tertiary' } }) }}
            <div class="row">
                <div class="form-group col-md-4">
                    {{ form_row(form.importe) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_row(form.tipoTransaccion) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_row(form.categoria) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_row(form.concepto) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_row(form.fechaMovimiento) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    {{ form_row(form.descripcion) }}
                </div>
            </div>
            
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-3">
                    <i class="fa-solid fa-check"></i>&nbsp;
                    {% if isEdit %}
                        Actualizar Movimiento
                    {% else %}
                        Crear Movimiento
                    {% endif %}
                </button>
            </div>
        {{ form_end(form) }}

        <div class="text-center mt-4">
            <a class="btn btn-outline-primary" href="{{ path('movimiento_index') }}"><i class="fa-solid fa-chevron-left"></i> Volver</a>
        </div>
    </div>
{% endblock %}
