{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% import 'partials/macros/_sort_links.html.twig' as sort %}
{% import 'partials/macros/_pagination_helper.html.twig' as paginador %}
{% import 'partials/macros/_empty_message.html.twig' as empty %}
{% import 'partials/macros/_filter_summary.html.twig' as resumen %}
{% import 'partials/macros/_grafico.html.twig' as grafico %}

{# DATA FOR CHART #}
{% set ingresosLabels = ingresosPorCategoria | map(c => c.categoria.value|replace({'_': ' '})|capitalize) %}
{% set ingresosValores = ingresosPorCategoria | map(c => c.total) %}
{% set gastosLabels = gastosPorCategoria | map(c => c.categoria.value|replace({'_': ' '})|capitalize) %}
{% set gastosValores = gastosPorCategoria | map(c => c.total) %}
{% set totalIngresos = ingresosValores|reduce((carry, item) => carry + item, 0) %}
{% set totalGastos = gastosValores|reduce((carry, item) => carry + item, 0) %}

{% block title %}Mis Movimientos{% endblock %}

{% block content %}
<div class="container mt-4">

    <h1 class="text-center mb-3">Mis Movimientos</h1>

    {# captura de los filtros aplicados por GET #}
    {% set filtros = app.request.query.all['movimiento_filter'] ?? {} %}

    {# h6 con los filtros aplicados #}
    {{ resumen.show(filtros) }}

    <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div>
            <a href="{{ path('movimiento_editar') }}" class="btn btn-primary mb-3 me-2"><i class="fa-solid fa-plus"></i> Añadir Movimiento</a>
        </div>
        <div class="text-end">
            <a href="{{ path('movimiento_export', app.request.query.all) }}" class="btn btn-outline-success mb-3"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="Se descarga en base a los filtros actuales"
            >
                <i class="fa-solid fa-download"></i>
                Exportar a Excel
            </a>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-3">
            {{ grafico.pieChart('graficoIngresos', 'Ingresos por categoría', ingresosLabels, ingresosValores) }}
        </div>
        <div class="col mb-3">
            {{ grafico.pieChart('graficoGastos', 'Gastos por categoría', gastosLabels, gastosValores) }}
        </div>
    </div>

    {% if totales %}
        <div id="totales" class="row row-cols-1 row-cols-md-3">
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body text-center bg-body-tertiary">
                        <strong>Total ingresos:</strong><br>
                        <span class="h4">{{ totales.ingresos|number_format(2, ',', '.') }}€</span>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body text-center bg-body-tertiary">
                        <strong>Total gastos:</strong><br>
                        <span class="h4">{{ totales.gastos|abs|number_format(2, ',', '.') }}€</span>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body text-center bg-body-tertiary">
                        <strong>Balance:</strong><br>
                        <span class="h4 {{ totales.balance >= 0 ? 'text-success' : 'text-danger' }}">
                            {{ totales.balance|number_format(2, ',', '.') }} €
                        </div>
                    </div>
                </span>
            </div>
        </div>
    {% endif %}

    {# comprobamos si hay GET, para desplegar los filtros #}
    {% set tieneFiltros = 
        filtros['importeMin']|default('') is not empty or
        filtros['importeMax']|default('') is not empty or
        filtros['desde']|default('') is not empty or
        filtros['hasta']|default('') is not empty or
        filtros['tipoTransaccion']|default('') is not empty or
        filtros['categoria']|default('') is not empty or
        filtros['concepto']|default('') is not empty or
        filtros['descripcion']|default('') is not empty
    %}    

    <div id="filtersBar" class="d-flex justify-content-between align-items-center flex-wrap">
        <div>
            <a href="{{ path('movimiento_editar') }}" class="btn btn-primary mb-3 me-2"><i class="fa-solid fa-plus"></i> Añadir Movimiento</a>
            <a href="{{ path('movimiento_export', app.request.query.all) }}" class="btn btn-outline-success mb-3"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="Se descarga en base a los filtros actuales"
            >
                <i class="fa-solid fa-download"></i>
                Exportar a Excel
            </a>
        </div>


        <div class="mb-3">
            {% set currentSort = app.request.get('sort') ?? '' %}
            {% set currentDir = app.request.get('dir') ?? 'desc' %}
            {% set currentQuery = app.request.query.all %}

            <div class="d-inline-block text-muted small me-2">
                Ordenar por:
            </div>

            {{ sort.link('Fecha', 'fechaMovimiento', currentSort, currentDir, 'movimiento_index', currentQuery) }}
            {{ sort.link('Tipo', 'tipoTransaccion', currentSort, currentDir, 'movimiento_index', currentQuery) }}
            {# {{ sort.link('Categoría', 'categoria', currentSort, currentDir, 'movimiento_index', currentQuery) }} #}
            {# {{ sort.link('Concepto', 'concepto', currentSort, currentDir, 'movimiento_index', currentQuery) }} #}
            {{ sort.link('Importe', 'importe', currentSort, currentDir, 'movimiento_index', currentQuery) }}
            &nbsp;|&nbsp;
            <button class="btn btn-outline-primary px-5 w-md-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                <i class="fa-solid fa-magnifying-glass"></i> Filtros
            </button>
        </div>
    </div>

    <div class="collapse {{ tieneFiltros ? 'show' : '' }}" id="collapseFilters">
        {{ form_start(form, { 'attr': { 'class': 'p-4 p-md-5 border rounded-3 bg-body-tertiary mb-3', 'action': path('movimiento_index') ~ '#totales' } }) }}
            <div class="row">
                <div class="col-md-3">{{ form_row(form.importeMin) }}</div>
                <div class="col-md-3">{{ form_row(form.importeMax) }}</div>
                <div class="col-md-3">{{ form_row(form.tipoTransaccion) }}</div>
                <div class="col-md-3">{{ form_row(form.categoria) }}</div>
            </div>
            <div class="row">
                <div class="col-md-3">{{ form_row(form.desde) }}</div>
                <div class="col-md-3">{{ form_row(form.hasta) }}</div>
                <div class="col-md-6">{{ form_row(form.concepto) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ form_row(form.descripcion) }}</div>
            </div>

            <div class="mt-2 d-flex justify-content-center align-items-center gap-3">
                <button type="submit" class="btn btn-primary px-5"><i class="fa-solid fa-magnifying-glass"></i> Filtrar</button>
                <a href="{{ path('movimiento_index') }}" class="btn btn-outline-primary"><i class="fa-solid fa-eraser"></i> Resetear filtros</a>
            </div>
        {{ form_end(form) }}
    </div>

    {% if pagination.getTotalItemCount() == 0 %}
        {{ empty.show('No se encontraron resultados.', 'info') }}
    {% else %}
        <div class="d-flex flex-column gap-3 mb-4">
            {% for movimiento in pagination %}
                <div class="card shadow-sm w-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-1 flex-wrap">
                            <h5 class="card-title mb-0">
                                {{ (movimiento.concepto|length > 35 ? movimiento.concepto[:35] ~ '...' : movimiento.concepto)|capitalize }}
                            </h5>
                            <span class="fs-4 fw-bold {{ movimiento.tipoTransaccion.value == 'gasto' ? 'text-danger' : 'text-success' }}">
                                {{ movimiento.tipoTransaccion.value == 'gasto' ? '' : '+' }}{{ movimiento.importe }} €
                            </span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <div>
                                <div class="mb-1 text-muted small">
                                    {{ movimiento.fechaMovimiento|date('d/m/Y') }} | {{ movimiento.tipoTransaccion.value|capitalize }} | {{ movimiento.categoria.value|replace({'_':' '})|capitalize }}
                                </div>
                                <p class="mb-2 text-body-secondary small">
                                    {{ (movimiento.descripcion|length > 35 ? movimiento.descripcion[:35] ~ '...' : movimiento.descripcion)|default('Sin descripción') }}
                                </p>
                            </div>

                            <div class="mb-2 d-flex justify-content-end gap-2 align-self-end">
                                <button class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#detalleMovimiento{{ movimiento.id }}">
                                    <i class="fa-solid fa-eye"></i> Ver
                                </button>
                                <div>
                                    <a href="{{ path('movimiento_editar', {id: movimiento.id}) }}" class="btn btn-sm btn-outline-primary">
                                        <i class="fa-solid fa-pen"></i> Editar
                                    </a>
                                </div>
                                <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalEliminarMovimiento{{ movimiento.id }}">
                                    <i class="fa-solid fa-trash"></i> Eliminar
                                </button>
                                {% include 'partials/modal/_modal_eliminar_movimiento.html.twig' with {
                                    movimiento: movimiento,
                                    id: 'modalEliminarMovimiento' ~ movimiento.id,
                                    ariaLabelledBy: 'modalEliminarMovimientoLabel' ~ movimiento.id
                                } %}
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'partials/modal/_modal_detalle_movimiento.html.twig' with {
                    movimiento: movimiento,
                    id: 'detalleMovimiento' ~ movimiento.id,
                    ariaLabelledBy: 'detalleMovimientoLabel' ~ movimiento.id
                } %}
            {% endfor %}
        </div>


        {# 📜 Sección de paginación #}
        <div id="pagination" class="navigation d-flex justify-content-center align-items-center mt-1 flex-column">
            {# id #totales hardcodeado en el template sobreescrito #}
            {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig', {}) }}
            {{ paginador.summary(pagination) }}
        </div>
        
    {% endif %}
</div>
{% endblock %}